

{% if tasks|length >= 1 %}

 <table>
        <tr>
            <th>Estatus</th>
            <th>Tarea</th>    
            <th>Prioridad</th>
            <th>Horas</th>
            <th>Actions</th>
            
        </tr>
    


     {% for task in tasks %}
    


        {% if task.complete == '1' %}
          <tr class="complete" >
             
             <td><i class="material-icons">clear</i></td>
          {% else %}  
          <tr class="no-complete">
             <td><i class="material-icons">check</i></td> 
        {% endif %}
           <td>{{task.title}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.hours}}</td>
            <td class="buttons">
                <a href="{{ path('task_detail',{'id':task.id}) }}" class="btn-show">show</a>
                {% if app.user is not null and task.user.id == app.user.id %}
                    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn-edit">Edit</a>
                    <a href="{{ path('task_delete', {'id': task.id}) }}" class="btn-delete">Delete</a>
                {% endif %}
            </td>
        
           
        </tr>
        
        {% endfor %}
    </table>
{% else %} 
<p>No cuenta con tareas asignadas</p>
{% endif %}